/* Colors */

$theme-representing: #cfaaff;
$theme-representing-light: #ecddff;
$theme-defining: #ffd67b;
$theme-defining-light: #ffefcc;
$theme-governing: #fea3a3;
$theme-governing-light: #ffdddd;
$theme-using: #91f1c6;
$theme-using-light: #d9fbec;

$strong-violet: #6500ff;
$dark-violet: #0d072e;

/* Grid */

/*$grid-unit-large: 24px;
$grid-unit-small: 15px; */

/* Media Queries */
/* $breakpoint-small-max: 640px;
$breakpoint-medium-max: 1200px;*/
